* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*    font-family: 'Gayathri', sans-serif;*/

    position: absolute;

    background-image: url(img/mario-1558068_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: gray;
    position: relative;
    height: 100vh;
}

#container {
    align-self: center;
    width: 1000px;
    position: absolute;
    margin-left: 250px;
    margin-top: 80px;
}

#player1Block {
    width: 50%;
    float: left;
    height: 620px;
    padding: 100px;
    background-color: white;
    border-radius: 50px 0 0 50px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0.5));
}

#player2Block {
    width: 50%;
    float: left;
    height: 620px;
    padding: 100px;
    background-color: white;
    border-radius: 0px 50px 50px 0px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
}

#playerName {
    font-family: 'Abril Fatface', sans-serif;
    font-size: 50px;
    text-align: center;
    letter-spacing: 3px;
    margin-top: 10%;
    margin-bottom: 10%;
    text-transform: uppercase;
    position: relative;
    color: gold;

}

#player1Score {
    text-align: center;
    margin-bottom: 10%;
    margin-top: 10%;
    font-size: 100px;
    font-weight: 100;
    color: white;

}

#player2Score {
    text-align: center;
    margin-bottom: 10%;
    margin-top: 10%;
    font-size: 100px;
    font-weight: 100;
    color: white;
}


#totalScoreBox {
    background-color: transparent;
    width: 50%;
    height: 25%;
    margin-left: 80px;
    margin-top: 120px;
    align-content: center;
    text-align: center;
    border-radius: 20px;

}

#totalScore {
    padding-top: 15px;
    /*    padding-bottom: 15px;*/
    font-size: 40px;
    color: white;
}


#totalScoreText {
    color: white;
    font-size: 25px;
    text-transform: uppercase;
}

i {
    color: #4d4dff;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -1px;
    transition: margin 0.2s;
}

button {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: whitesmoke;
    background: none;
    border: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 2s, color 2s;
}

button:hover {
    font-weight: 600;
}

button:hover i {
    margin-right: 20px;
}

#newGameButton {
    top: 45px;
}

#rollButton {
    top: 500px;
}


#diceImage {
    position: absolute;
    right: 40%;
    top: 220px;
    /*  transform: translateX(-50%);*/
    height: 130px;
    box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
}




#timer {
    color: white;
    position: absolute;
    top: 5%;
    right: 7%;
    font-size: 35px;
    padding: 10px;
}


#timerIcon {
    position: absolute;
    top: 7%;
    right: 12%;
    font-size: 35px;
    padding-right: 10px;
}
